.Pokedesk{
    text-align: center;
    margin-top: 2rem;
}
.Pokedesk-cards {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;

}

.Pokedesk-winner{
    color: green;
}


.Pokedesk-loser{
    color: red;
}

.Pokedesk-exp{
   margin-right: 3rem; 
}